<% groups.each do |code| %>
	<div class="code_container row" id='validation_code_parent_<%= code.id %>'>
		<div class="email col-lg-4">
		<a class='group-list-item group-list-item-index' href="/groups/<%= code.id %>" style="background-color: black;font-weight: bold;color: white"><%= code.name %> (<%= code.member_groups.count %>) </a><a href="#" class='user-modal-pop btn chat-avatar' style="float: right;" data-toggle="modal" data-target="#userModal" data-id='<%= code.user.try(:id) %>'><img src="<%= code.user.try(:avatar_url) %>" class="img-circle" alt="User Image" /></a> 
		</div>

		<div class="code col-lg-5" id='validation_code_<%= code.id %>'>
			<%= code.member_groups.count %> members
		</div>

		<div class="col-lg-3">
			<a href="#" class='delete-group btn btn-danger btn-lg' data-id='<%= code.id %>' data-name='<%= code.name %>' data-toggle="modal" data-target="#confirmationModal">Delete</a>
		</div>
	</div>
<% end %>

