<% members.each do |code| %>
	<div class="code_container row" id='validation_code_parent_<%= code.id %>'>
		<div class="email col-lg-3">
			<a href="#" class='member-modal-pop btn' data-toggle="modal" data-target="#memberModal" data-id='<%= code.try(:id) %>' style="float: left;color: white;font-weight: bold;background-color: black;width: 100%"> <%= code.try(:name) %> 
				<%= code.name %>
			</a>
		</div>

		<div class="code col-lg-3" id='validation_code_<%= code.id %>'>
			<%= code.email %>
		</div>

		<div class="code col-lg-3" id='validation_code_<%= code.id %>'>
			<%= code.sdcc_member_id %>
		</div>

		<div class="col-lg-3">
			<a href="#" class='delete-member btn btn-danger btn-lg' data-id='<%= code.id %>' data-sdcc_member_id='<%= code.sdcc_member_id %>' data-name='<%= code.name %> <%= code.last_name %> <%= code.sdcc_member_id %>' data-toggle="modal" data-target="#confirmationModal">Delete</a>
		</div>
	</div>
<% end %>

