
<h2>All current Members</h2>
<div class="search-container" style="width: 100%">
  <form action="#" method="get" class="code-search sidebar-form">
    <div class="input-group">
      <input type="text" name="q" id='csearch' class="form-control" placeholder="Search members by SDCC member id or by name..."/>
      <span class="input-group-btn">
        <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
</div>

<div class="results-container-codes">
	<%= render :partial => 'code_results_members', :locals => { :members => @members.all } %>
	<div class="pag-contain">
		<%= will_paginate @members %>
	</div>
</div>


<div id="upload-csv">
    <h2>CSV upload</h2>

  <%= form_tag({:action => "upload_csv"}, multipart: true) do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= file_field_tag :file %>
    <%= submit_tag( "Import" ) %>
  <% end %>

</div>

<div class="error" style="color: red">
  <% if flash[:errors] %>
    <% flash[:errors].each do |item| %>
      <li><%= item %></li>
    <% end %>
  <% end %>
</div>

<div class="error" style="color: green">
  <% if flash[:success] %>
    <% flash[:success].each do |item| %>
      <li><%= item %></li>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
// $("#upload-csv").find('form').on('submit', function(event) {
//   event.preventDefault();
//   var action = $(this).attr('action');

//   $.ajax({
//     url: action,
//     type: 'POST',
//     data: {param1: 'value1'},
//   })
//   .done(function() {
//     console.log("success");
//   })
//   .fail(function() {
//     console.log("error");
//   })
//   .always(function() {
//     console.log("complete");
//   });
  
// });

$('body').on('click', '.delete-member', function(event) {
	event.preventDefault();
	var html = ""
	html += 'Delete '+ $(this).attr('data-name')+'? <br><br>';
	html += "<a href='/admins/" + $(this).attr('data-id') + "/delete_member' method='delete' class='ajax-button btn btn-danger btn-lg'>DELETE</a>";

	$('#confirmationModal .modal-body .edit-modal-content').html(html);
});


  function performSearch(){
    var phrase = $("#csearch").val();
    $.ajax({
      url: '/admins/search_members',
      data: {search: phrase},
    })
    .done(function(data) {
      $('.results-container-codes').html(data);
    })    
  }

  $('body').on('click', '.ajax-button', function(event) {
  	event.preventDefault();
  	$(this).parent().html('working...');
  	var method = $(this).attr('method');
  	var url = $(this).attr('href');

  	$.ajax({
  		url: url,
  		type: method
  	})
  	.done(function(data) {
  		$('.edit-modal-content').html('...done');
  		if (data.success) {
  			$('#success_mess').html(data.message);
  			$('#success_mess').fadeIn(500, function() {
  				setTimeout(function(){
  					$('.status-message').fadeOut(1000);
  				},2000)
  			});
  			$('#errors_mess').html('');
        // $("#csearch").trigger('keyup');
  			 if (data.delete_id != '') {
  				$('#validation_code_parent_' + data.delete_id).hide(500);
  			}
  		} else {
  			$('#success_mess').html('');
  			$('#errors_mess').html(data.message);
  			 $('#errors_mess').fadeIn(500, function() {
  				setTimeout(function(){
  					$('.status-message').fadeOut(1000);
  				},2000)
  			});

  		}
  	})

  	
  });


  $('body').on('keyup', '#csearch', function(event) {
    event.preventDefault();
    performSearch();
  });
  $('body').on('click', '#search-btn', function(event) {
    event.preventDefault();
    performSearch();
  });
</script>


<!-- Modal -->
<div id="confirmationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        <p class='edit-modal-content' style='padding: 3%;
																				    font-size: 20px;
																				    font-weight: bold;
																				    text-align: center;'>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
		    <p class='status-message' id='errors_mess' style="background-color: red;color: white;font-weight: bold;padding: 2px;display: none;"></p>
		    <p class='status-message' id='success_mess' style="background-color: green;color: white;font-weight: bold;padding: 2px;display: none;"></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<style type="text/css">
	.ajax-button {
		width: 100%;
	}
</style>

