<p id="notice"><%= notice %></p>
<p>
  <strong>Day:</strong>
  <%= @line_day.day %>
</p>

<p>
  <strong>Description:</strong>
  <%= @line_day.description %>
</p>

<% 
		time_slots_infos = @line_day.time_slots.map { |e| e.present_info(current_user.id) }
    time_slots_infos.each do |slot|
      slot['authenticity_token'] = form_authenticity_token
    end
%>

<div class="centered">
	<%= react_component("LineDaySchedule", { 
			day: @line_day.id, 
			time_slots: time_slots_infos,
			is_admin: current_user.is_admin?,
			user_id: current_user.id
		}) %>
</div>

<% if current_user.is_admin? %>
	<div class="container">
		<%= render :partial => 'line_day/time_slots/form' %>
	</div>
<% end %>


<script>


// pop up modal
$('body').on('click', '.broadcast-message', function(event) {
	event.preventDefault();
	$("#modal_contact_id").val($(this).attr('data-id'));
	$("#contact_indentifier").text($(this).attr('data-identifier'));
	$("#broadcast_to_contact").attr('action', $(this).attr('end-pt'));
	$('.time-slot-modal-body').fadeIn(500, function() {});
});

// delete
$('body').on('click', '.delete-slot', function(event) {
	event.preventDefault();
	$.ajax({
		url: $(this).attr('href'),
		type: 'DELETE'
	})
	.done(function(data) {
	})
	
});
// edit. edit-slot
$('body').on('click', '.edit-slot', function(event) {
	event.preventDefault();
	$("#edit_time_slot").attr('action', $(this).attr('end-pt'));
	var text = $('#notes_for' + $(this).attr('data-id')).text();
	$("#time_slot_textarea").text(text);
	$('.time-slot-modal-body').fadeIn(500, function() {});
});

//expand
// $('body').on('click', '.expand-slot', function(event) {
// 	event.preventDefault();
// 	$('#info-' + $(this).attr('data-id')).toggle(400);
// });

//sign up
$('body').on('click', '.send_text', function(event) {
	event.preventDefault();
	$('#broadcast_to_contact').trigger('submit');
});

$('body').on('click', '.update_notes', function(event) {
	event.preventDefault();
	// $('#edit_time_slot').trigger('submit');
	$.ajax({
		url: $('#edit_time_slot').attr('action'),
		type: 'PATCH',
		data: $('#edit_time_slot').serialize(),
	})
	.done(function(data) {
		$("#notes_for" + data.id).text(data.description);
	})
	
});

</script>

<style>
	.btn-person, .btn-wide {
     background-color: #abdeb4;
    color: black;
    font-weight: bold;
    display: inline-block;
    margin: 2px;
    width: 70%;

	}

	.btn-contact-grp {
		background-color: #abdeb4;

	}

	.btn-spec {
		background-color: #e21717;
		color: white;
	}

	.modal-body textarea {
		width: 100%;
	}
</style>


<div id="timeSlotContactModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content time-slot-modal-body">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Time Slot Contact: <span id="contact_indentifier"></span></h4>
      </div>
      <div class="modal-body">
      	<form action="#" class='broadcast_to_slot' id='broadcast_to_contact' method='POST'>
      		<input type="hidden" name="authenticity_token" value='<%= form_authenticity_token %>' />
      		<input type="hidden" name="holder_contact[contact_id]" id="modal_contact_id">
		      <textarea name="holder_contact[body]" cols="50" rows="20"></textarea>
      	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="send_text btn btn-default" slot_id="" type="" data-dismiss="modal">Send</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div id="timeSlotEdit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content edit-time-slot-modal-body">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit</h4>
      </div>
      <div class="modal-body" class="update_notes btn btn-default">
      	<form action="#" class='edit_time_slot' id='edit_time_slot' method='PUT'>
      		<input type="hidden" name="authenticity_token" value='<%= form_authenticity_token %>' />
		      <textarea name="line_day_time_slot[description]" id="time_slot_textarea" value="" cols="50" rows="20"></textarea>
      	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="update_notes btn btn-default" slot_id="" type="" data-dismiss="modal">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<style>
	.hidden-block {
		display: none;
	}

	.shown-block {
		display: block;
	}
</style>