  <% groups.try(:each).try(:each) do |grp| %>
    <li class='clock-slot  <%= grp.has_active_member ? 'member_active' : '' %> <%= (!@grp.nil? && @grp.id == grp.id) ? "group_active" : "group-slot" %>'>
    <% if (!@grp.nil? && @grp.id == grp.id)%>
      <%= grp.name %> (<%= grp.member_groups.count %>)
    <% else %>
      <a class='group-list-item' href="/groups/<%= grp.id %>"><%= grp.name %> (<%= grp.member_groups.count %>)</a>
    <% end %>
    </li>
  <% end %>
