<% return if member.nil? %>
<% if mem_grp %>
	<li class="member-item <%= member.checked_in ? 'member_checked_in' : 'member_not_checked_in' %> clock-slot<%= member.try(:covered) ? ' member_covered' : ' ' %><%= member.try(:active) ? ' member_active' : '' %> member_select_<%= member.try(:id) %> member_groups_marker_<%= member.try(:id) %>" id="member_row_<%= mem_grp.id %>">
<% else %>
	<li class="member-item clock-slot <%= member.try(:covered) ? 'member_covered' : '' %>">
<% end %>
	<div class="mem-block name-holder">
		<b>Name:</b> <a href="#" class='member-modal-pop btn' data-toggle="modal" data-target="#memberModal" data-id='<%= member.try(:id) %>'> <%= member.try(:name) %> </a><br>
		<%= member.try(:display_last) %> 
		<b>
			<%= member.try(:sdcc_member_id) %>
		</b>

		<% if member.covered && !member.full_covered %>
		<div class="covered-member">	
				bought for / still needs <br>
		</div>
		<% end %>
	</div>
	<div class="mem-block day-holder" style='float: center;'>
		<b>Days Needed:</b><br><br>
		<% ['wensday','thursday','friday','saturday','sunday'].each do |day| %>
			<% if member.needs[day] %>
			<div class="day-block">
				<%= day %>
			</div>
			<% end %>
		<% end %>
	</div> 

	<div class="mem-block web_socket_loading" id="action-holder-for<%= member.try(:id) %>" style='float: right;'>
	<% if !grp.nil? %>
			<% if member.full_covered %>
					<div class="covered-member">	
							THIS MEMBER HAS BEEN FULLY BOUGHT FOR <br>
					</div>
			<% elsif member.active && !current_user.is_buying_for?(member) %>
					<div class="mem-block-message" id="action-message-for<%= member.try(:id) %>" style='float: right; display: block;'>
						PURCHASE IN PROGRESS
					</div>
			<% end %>

			
		<% if !(member.full_covered) && (current_user.is_valid?) %>
			
			<% if member.active && current_user.is_buying_for?(member) %>
				<a href="" class='active-button active-button-<%= member.id %> btn btn-sm btn-primary cancel-this <%= current_user.is_buying_for?(member) ? 'active-button-shown' : '' %>' data-id='<%= mem_grp.try(:id) %>' member-id="<%= member.id %>">CANCEL</a>
				<a href="" class='active-button active-button-<%= member.id %> btn btn-sm btn-primary confirm-this <%= current_user.is_buying_for?(member) ? 'active-button-shown' : '' %>' member-id="<%= member.id %>" data-toggle="modal" data-target="#purchase-confirmation-pop-up" data-id='<%= mem_grp.try(:id) %>' >CONFIRM</a>
			<% else %>
				<a href="" class='active-button active-button-<%= member.id %> btn btn-sm btn-primary cancel-this <%= current_user.is_buying_for?(member) ? 'active-button-shown' : '' %>' data-id='<%= mem_grp.try(:id) %>' member-id="<%= member.id %>" style="display: none;">CANCEL</a>
				<a href="" class='active-button active-button-<%= member.id %> btn btn-sm btn-primary confirm-this <%= current_user.is_buying_for?(member) ? 'active-button-shown' : '' %>' member-id="<%= member.id %>" style="display: none;" data-toggle="modal" data-target="#purchase-confirmation-pop-up" data-id='<%= mem_grp.try(:id) %>' >CONFIRM</a>
			<% end %>
			<% if member.active %>
				<a href="#" class='activate activate-button-for<%= member.try(:id) %> btn btn-sm btn-primary activate-this-user <%= member.active ? 'active_member_style' : 'non_active_member_style' %>' style="display: none" data-id='<%= mem_grp.try(:id) %>' member-id='<%= member.id %>'>START BUY</a>
			<% else %>
				<a href="#" class='activate activate-button-for<%= member.try(:id) %> btn btn-sm btn-primary activate-this-user <%= member.active ? 'active_member_style' : 'non_active_member_style' %>' style="display: <%= member.checked_in ? 'block' : 'none' %>" data-id='<%= mem_grp.try(:id) %>' member-id='<%= member.id %>'>START BUY</a>
			<% end %>
				<% if !member.checked_in %>
					<a href="#" class='check-in check-in-button-for<%= member.try(:id) %> btn btn-sm btn-primary check-in-this-user <%= member.active ? 'active_member_style' : 'non_active_member_style' %>' data-id='<%= mem_grp.try(:id) %>' member-id='<%= member.id %>'>CHECK IN</a>
				<% end %>

		<% end %>
		
		
		<% if grp && (current_user.groups.map { |e| e.id }.include?(grp.id)) %>
			<a href="#" class='remove btn btn-sm btn-danger remove-this-user' data-id='<%= mem_grp.try(:id) %>'>REMOVE</a>
		<% end %>
	<% end %>
	</div>
	
</li>


