<% if mem_grp %>
	<li class="member-item clock-slot<%= member.covered ? ' member_covered' : ' ' %><%= member.active ? ' member_active' : '' %>" id="member_row_<%= mem_grp.id %>">
<% else %>
	<li class="member-item clock-slot <%= member.covered ? 'member_covered' : '' %>">
<% end %>
	<div class="mem-block name-holder">
		<b>Name:</b> <a href="#" class='member-modal-pop btn' data-toggle="modal" data-target="#memberModal" data-id='<%= member.id %>'> <%= member.name %> </a><br>
		<b>SDCC ID:</b> <br> <%= member.sdcc_member_id %>
	</div>
	<div class="mem-block day-holder" style='float: center;'>
		<b>Days Needed:</b><br><br>
		<% ['wensday','thursday','friday','saturday','sunday'].each do |day| %>
			<% if member.needs.first && member.needs.first.attributes[day] %>
			<div class="day-block">
				<%= day %>
			</div>
			<% end %>
		<% end %>
	</div>

	<div class="mem-block" id="action-holder-for<%= mem_grp.try(:id) %>" style='float: right;'>
		<% if !member.covered %>
			<% if member.needs.first %>
				<input type="text" name="" id='ticket_<%= member.id %>' placeholder='confirmation code' style='margin-bottom: 2px;width: 100%;'><br>
				<a href="/purchases" data-id='<%= member.id %>' class='buy-ticket btn btn-sm btn-warning' member_group_id='<%= mem_grp.try(:id) %>' need-id='<%= member.needs.first.id %>' data-id='<%= member.id %>'>CONFIRM</a>
			<% end %>
		<% else %>
				This member has been covered
		<% end %>
		
		<% if grp && (current_user.members.map { |e| e.id }.include?(mem_grp.try(:member).try(:id))) %>
			<a href="#" class='activate btn btn-sm btn-primary activate-this-user' data-id='<%= mem_grp.try(:id) %>'>SELECTED</a>
		<% end %>
		
		<% if grp && (current_user.groups.map { |e| e.id }.include?(grp.id)) %>
			<a href="#" class='remove btn btn-sm btn-danger remove-this-user' data-id='<%= mem_grp.try(:id) %>'>REMOVE</a>
		<% end %>
	</div>
	
</li>


