<h2><%= @grp.name %></h2>

<p>
	<b>Group Coordinator: <a href="#" class='user-modal-pop btn' data-toggle="modal" data-target="#userModal" data-id='<%= @grp.user.try(:id) %>'> <%= @grp.user.try(:name) %></b> </a> (<%= @grp.user.try(:email) %>)
</p>
<hr>
<div class="row" style="width: 90%;">


	<div class="member-box room-box col-md-6">
	<% if  @grp.member_groups.count == 1 %>
		<h2 class='number-of-members'><%= @grp.member_groups.count %> Member in this buying group</h2>
	<% elsif  @grp.member_groups.count == 0 %>
		<h2 class='number-of-members'>This buying group is empty</h2>
	<% else %>
		<h2 class='number-of-members'><%= @grp.member_groups.count %> Members in this buying group</h2>
		<h5><a href="#" id='non-covered-toggle' style="width: 100%" class='btn btn-primary btn-lg'>Toggle Non-Covered Members</a></h5>
	<% end %>
		<div class="member-list" id='member-list'>
			<% @grp.member_groups.each do |mem_grp| %>
				<%= render :partial => 'member_list_item', :locals => { :member => mem_grp.member, :mem_grp => mem_grp, :grp => @grp } %>
			<% end %>
		</div>
		<% if current_user.groups.map { |e| e.id }.include?(@grp.id) %>
		<div class="create-form">
			<h2>Add member to this group</h2>
			<p>
				<b>(Only the user that started this group may add members to this group)</b>
			</p>
			<p>
				To register yourself or a member into this group, please provide a valid SDCC member ID here, and check off the days desired.
			</p>
			<form method="post" id="reg-member">
				<input type="hidden" name="member_group[group_id]" value="<%= @grp.id %>">
					<input type="text" name="sdcc_member_id" id='sdcc_member_id_holder' class="form-control" style='width: 100%' placeholder="SDCC member ID">
					<div id="error_list" style="color: red"></div>

					<hr>
					<input type="submit" name="ADD">
			</form>
		</div>
		<!-- id: integer, user_id: integer, sdcc_member_id: integer, name: string, phone: string, email: string, covered: boolean, -->
		<div id="new-member-form" style='display: none;'>
			<div class="create-form">
				<form action='/members' method='POST' id='create-member-form'>
					<h3>Create a new Member</h3>
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<div class="form-group">
						<label for='member[name]'>Name</label>
						<input class="form-control" type="text" name='member[name]'>
					</div>
		      <div class="form-group">
		        <label for='member[last_name]'>Last Name</label>
		        <input class="form-control" type="text" name='member[last_name]'>
		      </div>
					<div class="form-group">
						<label for='member[phone]'>Phone</label>
						<input class="form-control" type="text" name='member[phone]'>
					</div>
					<div class="form-group">
						<label for='member[email]'>E-Mail</label>
						<input class="form-control" type="text" name='member[email]'>
					</div>
					<div class="form-group">
						<label for='member[phone]'>SDCC Member ID</label>
						<input class="form-control" id='sdcc_member_id_holder_create' type="text" name='member[sdcc_member_id]'>
					</div>
					<h3>Select the Days this member needs</h3>
					<div class="form-check form-check-stacked">
					  <label class="form-check-label">
					  	<%= check_box_tag 'member[wensday]' %> Wensday
					  </label>
					</div>
					<div class="form-check form-check-stacked">
					  <label class="form-check-label">
					  	<%= check_box_tag 'member[thursday]' %> Thursday
					  </label>
					</div>
					<div class="form-check form-check-stacked">
					  <label class="form-check-label">
					  	<%= check_box_tag 'member[friday]' %> Friday
					  </label>
					</div>

					<div class="form-check form-check-stacked">
					  <label class="form-check-label">
					  	<%= check_box_tag 'member[saturday]' %> Saturday
					  </label>
					</div>

					<div class="form-check form-check-stacked">
					  <label class="form-check-label">
					  	<%= check_box_tag 'member[sunday]' %> Sunday
					  </label>
					</div>

					<div id="error_list" style="color: red"></div>
					<button type="submit" class="btn btn-primary">Register Member</button>
				</form>
			</div>
		</div>
		<% end %>
	</div>
	<div class='col-md-6'>
		<h2>Group Chat</h2>
		<a href="#" class='btn btn-sm btn-primary expand-chat-log' style=''>Toggle chat log</a>
		
		<div class="chat-box room-box">
			<div id="chat_container">
				<div class="chat-form">
					<form>
						<input type="text" name="" class='form-control chat-message-input' placeholder="SAy sumthin'.....">
					</form>
					<span class="someone_typing">Someone is typing a message.....</span>
				</div>
				<div class="chat-log" id='chat_log'>
					<% @grp.chat_messages.order('created_at DESC').each do |message| %>
						<%= render :partial => 'groups/chat_line', :locals => { :message => message, :user => message.user, :from => 'todom' } %>			
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="purchase-confirmation-pop-up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm this user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id='confirmation-body'>
        ...
      </div>
      <div class="modal-footer">
        <div class="working-message-conf" style="display: none;">Confirming...</div>
        <button type="button" class="btn btn-secondary close-this-modal conf-modal-footer" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary conf-modal-footer" id='confirm-trigger'>CONFIRM</button>
      </div>
    </div>
  </div>
</div>


<style type="text/css">
</style>