<h2><%= @grp.name %></h2>

<p>
	<b>Group Coordinator: <a href="#" class='user-modal-pop btn' data-toggle="modal" data-target="#userModal" data-id='<%= @grp.user.try(:id) %>'> <%= @grp.user.try(:name) %></b> </a> (<%= @grp.user.try(:email) %>)
</p>
<hr>
<a href="#" class='btn btn-sm btn-primary expand-chat-log' style='width: 90%;'>expand chat log</a>

<div class="chat-box">
	<div id="chat_container">
		<div class="chat-form">
			<form>
				<input type="text" name="" class='form-control chat-message-input' placeholder="SAy sumthin'.....">
			</form>
			<span class="someone_typing">Someone is typing a message.....</span>
		</div>
		<div class="chat-log" id='chat_log'>
			<% @grp.chat_messages.order('created_at DESC').each do |message| %>
				<%= render :partial => 'groups/chat_line', :locals => { :message => message, :user => message.user } %>			
			<% end %>
		</div>
	</div>
</div>
<style type="text/css">
.chat-form {
	padding: 2px;
	background-color: #d4cea8;
  height: 24px;
}
#chat_container {
	position: relative;
	width: 100%;
	height: 300px;
}

.someone_typing {
	display: none;
	    width: 100%;
    position: relative;
    background-color: #efeacc;
}

	.chat-log {
		position: relative;
		overflow-y: scroll;
		height: 400px;
		margin-top: 25px;
	}
	.chat-box {
position: relative;
    width: 90%;
    background-color: #efeacc;
    height: 100px;
    margin: 3px;
    border-radius: 15px;
    padding: 3%;
    padding-top: 5px;
    color: #151313;
    overflow-y: hidden;
	}

	.chat-message-input {
		width: 100%;
		    background-color: #374850;
		    color: white;
		    padding: 2px;
		    padding-left: 2%;
    font-size: 14px;
    font-family: monospace;
	}

	.chat-line {
	    width: 95%;
	    margin: 0 auto;
	}

	.bubble-time {
		float: right;
    right: 4px;
    padding: 4px;
    position: absolute;
    background-color: #ecf0f5;
    border-radius: 20px;
    font-size: 10px;
	}

	.bubble-time-left {
		float: left;
    left: 4px;
    padding: 7px;
    position: absolute;
    background-color: #ecf0f5;
    border-radius: 20px;
	}
</style>

		<h2>Current Members in this buying group</h2>

<div class="member-list" id='member-list'>
	<% @grp.member_groups.each do |mem_grp| %>
		<%= render :partial => 'member_list_item', :locals => { :member => mem_grp.member, :mem_grp => mem_grp, :grp => @grp } %>
	<% end %>
</div>

<script type="text/javascript">
	// $('body')
</script>

<% if current_user.groups.map { |e| e.id }.include?(@grp.id) %>
<div class="create-form">
	<h2>Add member to this group</h2>
	<p>
		<b>(Only the user that started this group may add members to this group)</b>
	</p>
	<p>
		To register yourself or a member into this group, please provide a valid SDCC member ID here, and check off the days desired.
	</p>
	<form method="post" id="reg-member">
		<input type="hidden" name="member_group[group_id]" value="<%= @grp.id %>">
			<input type="text" name="sdcc_member_id" id='sdcc_member_id_holder' class="form-control" style='width: 200px' placeholder="SDCC member ID">
			<div id="error_list" style="color: red"></div>

			<hr>
			<div class="form-check form-check-inline">
			  <label class="form-check-label">
			  	<%= check_box_tag 'need[wensday]' %> Wensday
			  </label>
			</div>
			<div class="form-check form-check-inline">
			  <label class="form-check-label">
			  	<%= check_box_tag 'need[thursday]' %> Thursday
			  </label>
			</div>
			<div class="form-check form-check-inline">
			  <label class="form-check-label">
			  	<%= check_box_tag 'need[friday]' %> Friday
			  </label>
			</div>

			<div class="form-check form-check-inline">
			  <label class="form-check-label">
			  	<%= check_box_tag 'need[saturday]' %> Saturday
			  </label>
			</div>

			<div class="form-check form-check-inline">
			  <label class="form-check-label">
			  	<%= check_box_tag 'need[sunday]' %> Sunday
			  </label>
			</div>
			<input type="submit" name="ADD">
	</form>
</div>
<!-- id: integer, user_id: integer, sdcc_member_id: integer, name: string, phone: string, email: string, covered: boolean, -->
<div id="new-member-form" style='display: none;'>
	<div class="create-form">
		<form action='/members' method='POST' id='create-member-form'>
			<h3>Create a new Member</h3>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<div class="form-group">
				<label for='member[name]'>Name</label>
				<input class="form-control" type="text" name='member[name]'>
			</div>
			<div class="form-group">
				<label for='member[phone]'>Phone</label>
				<input class="form-control" type="text" name='member[phone]'>
			</div>
			<div class="form-group">
				<label for='member[email]'>E-Mail</label>
				<input class="form-control" type="text" name='member[email]'>
			</div>
			<div class="form-group">
				<label for='member[phone]'>SDCC Member ID</label>
				<input class="form-control" id='sdcc_member_id_holder_create' type="text" name='member[sdcc_member_id]'>
			</div>

			<div id="error_list" style="color: red"></div>
			<button type="submit" class="btn btn-primary">Register Member</button>
		</form>
	</div>
</div>
<% end %>
<style type="text/css">
	.form-check {
		position: relative;
		display: inline-block;
		width: 15%;
	}

	.member_covered {
		background-color: #ffb4b4;
	}
</style>
<script type="text/javascript">
  // var dispatcher = new WebSocketRails(window.document.location.host + "/" + "websocket");
  var dispatcher = new WebSocketRails('localhost:3002' + "/" + "websocket");
  var connection;
  var connectionID;
  var channel;
  var group_room_conn;

	function regMember(dataSend){
		$.ajax({
			url: '/members/register_member_to_group',
			method: 'POST',
			data: dataSend,
		})
		.done(function(data) {
			if (data.success == true) {
				$("#reg-member").trigger('reset');
				var obj = {room: <%= @grp.id %>, member_id: data.member_id, member_group_id: data.member_group_id}
				dispatcher.trigger('register_member', obj)
			} else {
				if (data.new_member) {
					$('#new-member-form').slideDown('500', function() {
						var sdcc_num = $('#sdcc_member_id_holder').val();
						$('#sdcc_member_id_holder_create').val(sdcc_num);
					});
				} else {
					populateErrors(data.message);
				}
			}
		})
	}

	$('body').on('submit', '#create-member-form', function(event) {
		event.preventDefault();
		// create the member.
		$.ajax({
			url: '/members/register_member',
			type: 'POST',
			data: $(this).serialize(),
		})
		.done(function(data) {
			if (data.success) {
				// register the member to the group.
				$('#new-member-form').slideUp(500);
				regMember($('#reg-member').serialize());
				$(this).trigger('reset');

			} else {
				populateErrors(data.message);
			}
		})		
	});

	$("body").on('submit', '#reg-member', function(event) {
		event.preventDefault();
		regMember($(this).serialize());
	});

	$("body").on('click', '.remove-this-user', function(event) {
		event.preventDefault();
		var mb_id = $(this).attr('data-id');
		removeMemberFromDom(mb_id);		
	});

	$('body').on('click', '.buy-ticket', function(event) {
		event.preventDefault();
		var mem_id = $(this).attr('data-id');
		var need_id = $(this).attr('need-id');
		var member_group_id = $(this).attr('member_group_id');
		var group_id = <%= @grp.id %>
		coverMember(mem_id, need_id, member_group_id, group_id);
	});

	var coverMember = function(member_id, need_id, member_group_id, group_id){
		$.ajax({
			url: '/members/cover_member',
			data: {member_id: member_id, need_id: need_id, member_group_id: member_group_id, group_id: group_id},
		})
		.done(function(data) {
			if (data.success) {
				var obj = { member_group_id: data.member_group_id, groups: data.groups, group_id: data.group_id};
				dispatcher.trigger('cover_member', obj);
			} else {
				populateErrors(data.message);
			}
		})
		
	}

  var removeMemberFromDom = function(member_group_id) {
    $.ajax({
    	url: '/members/remove_member',
    	method: 'DELETE',
    	data: {mem_grp_id: member_group_id, grp_id: <%= @grp.id %>},
    })
    .done(function(data) {
    	if (data.success) {
			  	var obj = {room: <%= @grp.id %>, member_group_id: data.message}
					dispatcher.trigger('unregister', obj)
    	}
    })
  }

  var addMemberToDom = function(message) {
    var member_group_id = message.member_group_id;
    $.ajax({
    	url: '/groups/present_member',
    	data: {mem_grp_id: member_group_id, grp_id: <%= @grp.id %>},
    })
    .done(function(data) {
    	$("#member-list").append(data);
    })
  }

  dispatcher.on_open = function(data) {
    console.log('Connection has been established: ', data);
    connectionID = data.connection_id;
    connection = <%= @grp.id %>;
    group_room_conn = 'group_'+ connection;
    channel = dispatcher.subscribe(group_room_conn);
    var room_create_success = group_room_conn + '_created';

    // listen for newly registered members
    channel.bind("member_registered", function(mes) {
    	addMemberToDom(mes);
    });

    // listen for any dropped members
    channel.bind("unregister_member",function(mes) {
    	$("#member_row_" + mes.member_group_id).fadeOut('500', function() {
		    $("#member_row_" + mes.member_group_id).remove();
    	});;
    })

    // listen for any covered members across all groups in this group
    channel.bind("member_covered",function(mes) {
	    $("#member_row_" + mes.member_group_id).addClass('member_covered');
	    $("#action-holder-for" + mes.member_group_id).html("This member has been covered");
    })

    // chatroom listener
    channel.bind('add_room_message', function(message) {
    	addCommentToDom(message);
    });

    // someone_typing
    channel.bind('someone_typing', function(message) {
    	someoneTyping();
    });

    console.log(room_create_success);
  }

  var someoneTyping = function(){
  	$('.someone_typing').css('display', 'block');
  	$('.someone_typing').fadeOut(2000, function() {
  		
  	});

  }


// chat rooom functionality
	// var elem = document.getElementById('chat_log');
	// var elem2 = document.getElementById('chat_container');
 //  elem.scrollTop = elem.scrollHeight;
 //  elem2.scrollTop = elem2.scrollHeight;

 $('body').on('keydown', '.chat-message-input', function(event) {
		if (event.which == 13) {
		 	event.preventDefault();
		 	var message = $(this).val();
		 	$(this).val('');
		 	$.ajax({
		 		url: '/groups/process_message',
		 		type: 'POST',
		 		data: {message: {message: message, group_id: <%= @grp.id %>}},
		 	})
		 	.done(function(data) {
		 		if (data.success) {
			 		var obj = {message: data.message, room: <%= @grp.id %>, user_id: data.user_id, connection: connectionID};
			 		dispatcher.trigger('send_chat_message', obj);
		 		} else {
		 			populateErrors(data.message);
		 		}
		 	})

		} else {
			// notify users that someone is typing
			dispatcher.trigger('someone_typing', {room: "<%= @grp.id %>"});
		}
 });

$('body').on('click', '.expand-chat-log', function(event) {
	event.preventDefault();
	if ($('.chat-box').css('height') == '500px') {
		$('.chat-box').animate({'height': '100px'}, 500);
	} else {
		$('.chat-box').animate({'height': '500px'}, 500);
	}

});

  var addCommentToDom = function(message) {
  	var message_id = message.message_id;
    // if (message.connection_id == connectionID) {
    	$.ajax({
    		url: '/groups/add_comment',
    		data: {message_id: message_id},
    	})
    	.done(function(data) {
	      $("#chat_log").prepend(data);
    	})
    	
    // }
    // elem.scrollTop = elem.scrollHeight;
    var elem = $('#chat_log');
    elem.scrollTop = 0;
    console.log('just received new message: ' + message);
  }
	
</script>