

<div class="row profile-container-edit">
  <div class="col-lg-2">
    <img src="<%= current_user.avatar_url %>" class="img-fluid" alt="User Image" style='max-height: 200px' />
    
  </div>
  <div class="col-lg-10">
    <form method="POST" action="/users/update_user">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <h1>Your Profile</h1>
        <div class="form-group">
          <label for="signup_email">User Name</label>
          <input type="text" class="form-control" value="<%= @user.name %>" name='update[name]' id="signup_name" aria-describedby="emailHelp" placeholder="Enter desired username">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="signup_email">Email address</label>
          <input type="email" class="form-control" value="<%= @user.email %>" name='update[email]' id="signup_email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="avatarurl">Avatar URL(optional)</label>
          <input type="avatarurl" class="form-control" value="<%= @user.avatar_url %>" name='update[avatar_url]' id="signup_avatar" aria-describedby="emailHelp" placeholder="Enter url of yourself...if you want">
        </div>

        <input type="submit" value='Update Info' class='btn btn-lg btn-primary sign_log_in'>
    </form>
  </div>

</div>

  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
<div class="row">
  <div class="col-lg-6">
    <h1>
      YOUR GROUPS
    </h1>
    <div style='overflow-y: scroll;'>
      <ul id="grp_search_aside" style='padding: 2%;'>
        <%= render :partial => 'groups/group_list_sidebar', :locals => { :groups => @groups } %>
      </ul>
    </div>
    <!-- /.sidebar -->

    
  </div>
  <div class="col-lg-6">
    <h1>YOUR MEMBERS</h1>
    <div class='member-list'>
      <% @members.each do |member| %>
        <div class="list-member">
          <%= render :partial => 'groups/member_list_item', :locals => { :member => member, :mem_grp => nil, :grp => nil } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
