Hello, <%= @member.try(:name) %><br>
<p>
      <b><%= @purchasing_member_first_name %></b> has agreed to purchase tickets for you for the next comic con <br>
</p>
<br>
<p>
      Total: <b><%= number_to_currency(@pur.try(:price)) %></b> <br>
      Confirmation Code: <b><%= @pur.try(:confirmation_code) %></b> <br>
      Days Purchased: <b><%= @pur.try(:days_string) %></b>

</p>
<br>
<% if @add_notes %>
<p>
     <%= @add_notes %><br>
</p>
<% end %>
<br>

<% if @pur.try(:notes) %>
<p>
      <%= @pur.try(:notes) %><br>
</p>
<% end %>
<br>
<p>  
      You may connect with this person to work out payment arrangements: <%= @purchasing_member_name %> <br>
</p>
Thank you for using our Ticket ORganizer APP, and enjoy your CON! <br>
FOCC <br>