Hello, <%= @member.try(:name) %><br>

<% purchase = (@purchase.nil? ? @member.purchases.last : @purchase) %>
<p>
      <b><%= @purchasing_member_first_name %></b> has agreed to purchase tickets for you for the next comic con <br>
</p>
<br>
<p>
      <i>please note that the total reflects the price for an adult, if you are a senior or junior badge holder, this might not accurately reflect your total, please check with your buyer</i>
      <br>
      <br>
      Total: <b><%= number_to_currency(purchase.try(:price)) %></b> <br>
      Confirmation Code: <b><%= purchase.try(:confirmation_code) %></b> <br>
      Days Purchased: <b><%= purchase.try(:days_string) %></b>

</p>
<br>
<% if @add_notes %>
<p>
     <%= @add_notes %><br>
</p>
<% end %>
<br>

<% if purchase.try(:notes) %>
<p>
      <%= purchase.try(:notes) %><br>
</p>
<% end %>
<br>
<p>  
      You may connect with this person to work out payment arrangements: <%= @purchasing_member_name %> <br>
</p>
Thank you for using our Ticket ORganizer APP, and enjoy your CON! <br>
FOCC <br>