Hello, <%= @member.name %> 
<% purchase = (@purchase.nil? ? @member.purchases.last : @purchase) %>
<%= @purchasing_member_first_name %>has agreed to purchase tickets for you for the next comic con  
 
<i>please note that the total reflects the price for an adult, if you are a senior or junior badge holder, this might not accurately reflect your total, please check with your buyer</i> 
<br>
<br>
total: <%= number_to_currency(@purchase.try(:price)) %> 
Confirmation Code: <%= purchase.try(:confirmation_code) %>  
 

<% if @add_notes %>
	<%= @add_notes %> 
<% end %>
 

<% if purchase.try(:notes) %>
      <%= @purchase.try(:notes) %> 
<% end %>
 
You may connect with this person to work out payment arrangements: <%= @purchasing_member_name %> 


Thank you for using our Ticket ORganizer APP, and enjoy your CON!  \n
FOCC  

<br>
<br>

<a href="http://sdcctickets.herokuapp.com/">sdcctickets.herokuapp.com/</a>