<%= form_for(holder) do |f| %>
  <% if holder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(holder.errors.count, "error") %> prohibited this holder from being saved:</h2>

      <ul>
      <% holder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :line_day_time_slot_id %>
    <%= f.text_field :line_day_time_slot_id, :value => slot_id, :type => 'hidden' %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-md btn-primary', :value => 'Sign up for this wait shift' %>
  </div>
<% end %>
