<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @holder.user %>
</p>

<p>
  <strong>Number:</strong>
  <%= @holder.number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @holder.email %>
</p>

<p>
  <strong>Line day:</strong>
  <%= @holder.line_day %>
</p>

<%= link_to 'Edit', edit_holder_path(@holder) %> |
<%= link_to 'Back', holders_path %>
