<!DOCTYPE html>
<html>
  <head>
    <title>SdccGrpBuy</title>
    <!-- Bootstrap 3.3.2 -->
    <!-- FontAwesome 4.3.0 -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> -->
    <!-- Ionicons 2.0.0 -->
    <link href="https://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />    
   
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


<body class="skin-blue">
    <div class="wrapper">
      
      <header class="main-header">
        <!-- Logo -->
        <a href="/users/login" class="logo"><b>SDCC</b>2018</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <% if flash[:error] %>
            <div class="error-message">
              <%= flash[:error] %>
            </div>

            <script type="text/javascript">
              setTimeout(function(){
                $('.error-message').fadeOut(1000);
              },2000)
            </script>
          <% end %>

          <!-- Sidebar toggle button-->
          <% if current_user %>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <% if !current_user.try(:is_valid?) && current_user.has_a_val_code? %>
                <li class="">
                  <a href="/" class='btn btn-lg btn-danger'>Enter validation code</a>
                </li>
              <% end %>
              <% if current_user.try(:is_admin) %>
                <li class="">
                  <a href="/admins" class='btn btn-lg btn-warning'>CODES</a>
                </li>
                <li class="">
                  <a href="/admins/users_index" class='btn btn-lg btn-warning'>USERS</a>
                </li>
                <li class="">
                  <a href="/admins/members_index" class='btn btn-lg btn-warning'>MEMBERS</a>
                </li>
                <li class="">
                  <a href="/admins/groups_index" class='btn btn-lg btn-warning'>GROUPS</a>
                </li>
              <% end %>
              <% if current_user.try(:is_valid?) %>
                <li class="">
                  <a href="/groups/new" class='btn btn-lg'>+GROUP</a>
                </li>
              <% end %>
              <li class="">
                <a href="/groups" class='btn btn-lg'>GROUPS</a>
              </li>
              <% if current_user.try(:is_valid?) %>
                <li class="">
                  <a href="/members/new" class='btn btn-lg'>+MEMBER</a>
                </li>
              <% end %>
              <li class="">
                <a href="/members" class='btn btn-lg'>MEMBERS</a>
              </li>
                
              <li>
                <a href="/users/side_menu" class='btn btn-md btn-primary'>Your Acct</a>
              </li>
            
            </ul>
          </div>
          <% end %>
        </nav>
      </header>


      <% if current_user %>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="<%= current_user.avatar_url %>" class="more-circle" alt="User Image""/>
            </div>
            <div class="pull-left info">
              <p>
                <%= current_user.name %>
                <br>
                <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-md logout-button') %>
              </p>
            </div>
          </div>
          <div class="inbox">
            <% if current_user.has_unread_messages %>
              <a href="/users/inbox" class='group-list-item' style='background-color: #90ff90; color: black'>INBOX*</a>
            <% else %>
              <a href="/users/inbox" class='group-list-item'>INBOX</a>
            <% end %>
          </div>
          <!-- search form -->
          <form action="#" method="get" id='private-grp-search' class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" id="pgsearch" class="form-control" placeholder="Search Your groups..."/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='psearch-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">YOUR GROUPS</li>
          </ul>
        </section>
        <div style='overflow-y: scroll;'>
          <ul id="grp_search_aside" style='padding: 2%;'>
            <%= render :partial => 'groups/group_list_sidebar', :locals => { :groups => current_user.my_groups} %>
          </ul>
        </div>
        <!-- /.sidebar -->
      </aside>

      <% end %>



<!-- Modal -->
<div id="memberModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content member-modal-body" style='display: none;'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Member Details</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="userModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content user-modal-body" style='display: none;'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">User Details</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  var populateErrors = function(err_array) {
    var html = '';
    for (var i = err_array.length - 1; i >= 0; i--) {
      var mess = err_array[i];
      html += ""+mess+"\n"
    }
   alert(html);
    // $('#error_list').html(html);
  }

  function performPrivateSearch(){
    var phrase = $("#pgsearch").val();
    $.ajax({
      url: '/groups/private_search',
      data: {search: phrase},
    })
    .done(function(data) {
      console.log('success');
      $('#grp_search_aside').html(data);
    })    
  }
  $('body').on('keyup', '#pgsearch', function(event) {
    event.preventDefault();
    performPrivateSearch();
  });
  $('body').on('click', '#psearch-btn', function(event) {
    event.preventDefault();
    performPrivateSearch();
  });

  $('body').on('click', '.member-modal-pop', function(event) {
    event.preventDefault();
    /* Act on the event */
    var mem_id = $(this).attr('data-id');
    $.ajax({
      url: '/members/' + mem_id,
    })
    .done(function(data) {
      $('.modal-body').html(data);
      $('.member-modal-body').fadeIn(500, function() {});
    })
    
  });

  $('body').on('click', '.user-modal-pop', function(event) {
    event.preventDefault();
    /* Act on the event */
    var mem_id = $(this).attr('data-id');
    $.ajax({
      url: '/users/show_user',
      data: {id: mem_id}
    })
    .done(function(data) {
      $('.modal-body').html(data);
      $('.user-modal-body').fadeIn(500, function() {});
    })
    
  });

  // user-modal-pop
  $('body').on('submit', '#send_dir_message', function(event) {
    event.preventDefault();
    // send direct message to the user
    $.ajax({
      url: '/members/direct_message',
      type: 'POST',
      data: $(this).serialize(),
    })
    .done(function(data) {
      if (data.success) {
        $(".send_dir_message_holder").html('Message sent');
      } else {
        populateErrors(data.message)
      }
    })
    
  });

</script>


    <div class="content-wrapper">
      <section class="content-header">
      </section>
      <section class="content">
        <%= yield %>
      </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    <footer class="main-footer">
    </footer>
    </div><!-- ./wrapper -->

    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    
    <% if !Rails.env.development? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-75075620-2', 'auto');
        ga('send', 'pageview');

      </script>
    <% end %>
  </body>

</html>
