<!DOCTYPE html>
<html>
  <head>
    <title>SdccGrpBuy</title>
    <!-- Bootstrap 3.3.2 -->
    <!-- FontAwesome 4.3.0 -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> -->
    <!-- Ionicons 2.0.0 -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />    
   
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


<body class="skin-blue">
    <div class="wrapper">
      
      <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo"><b>SDCC</b>2018</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->

          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="">
                <a href="/groups/new" class='btn btn-lg'>+GROUP</a>
              </li>
              <li class="">
                <a href="/groups" class='btn btn-lg'>GROUPS</a>
              </li>
              <li class="">
                <a href="/members" class='btn btn-lg'>MEMBERS</a>
              </li>

              <li class="dropdown user user-menu">
               
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <% if current_user %>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="<%= current_user.avatar_url %>" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>
                <%= current_user.name %>
                <a href="/user_log_out_route/sign_out">logout</a>
              </p>
            </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" id='private-grp-search' class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" id="pgsearch" class="form-control" placeholder="Search Your groups..."/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='psearch-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">YOUR GROUPS</li>
          </ul>
        </section>
        <div>
          <ul id="grp_search_aside" style='padding: 2%;'>
            <%= render :partial => 'groups/group_list_sidebar', :locals => { :groups => current_user.my_groups} %>
          </ul>
        </div>
        <!-- /.sidebar -->
      </aside>

      <% end %>



<!-- Modal -->
<div id="memberModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content member-modal-body" style='display: none;'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Member Details</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="userModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content user-modal-body" style='display: none;'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">User Details</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  function performPrivateSearch(){
    var phrase = $("#pgsearch").val();
    $.ajax({
      url: '/groups/private_search',
      data: {search: phrase},
    })
    .done(function(data) {
      console.log('success');
      $('#grp_search_aside').html(data);
    })    
  }
  $('body').on('keyup', '#pgsearch', function(event) {
    event.preventDefault();
    performPrivateSearch();
  });
  $('body').on('click', '#psearch-btn', function(event) {
    event.preventDefault();
    performPrivateSearch();
  });

  $('body').on('click', '.member-modal-pop', function(event) {
    event.preventDefault();
    /* Act on the event */
    var mem_id = $(this).attr('data-id');
    $.ajax({
      url: '/members/' + mem_id,
    })
    .done(function(data) {
      $('.modal-body').html(data);
      $('.member-modal-body').fadeIn(500, function() {});
    })
    
  });

  $('body').on('click', '.user-modal-pop', function(event) {
    event.preventDefault();
    /* Act on the event */
    var mem_id = $(this).attr('data-id');
    $.ajax({
      url: '/users/' + mem_id,
    })
    .done(function(data) {
      $('.modal-body').html(data);
      $('.user-modal-body').fadeIn(500, function() {});
    })
    
  });

  // user-modal-pop


</script>
      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <!-- <h1>
            Dashboard
            <small>Control panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol> -->
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <%= yield %>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">

      </footer>
    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.3 -->
    <!-- jQuery UI 1.11.2 -->
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.2 JS -->
    <!-- <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>     -->
    <!-- Morris.js charts -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    
  </body>

</html>
