<center>
	

<h2>
	<%= member.name %>
</h2>	

<p style="font-size: 15px">
	<b>Contact:  </b> <%= "#{member.contact_info(current_user)} " %>
	<br>
	<% if current_user.has_member(member) %>
		<a href="<%= edit_member_path(:id => member.id) %>" class='btn btn-md btn-primary' style='margin-top: 2px;'>Edit this Member</a>
	<% end %>	
</p>

<p>
	<b>
		Registered by: 
		<br>
		<a href="#" class='user-modal-pop btn' data-toggle="modal" data-target="#userModal" data-id='<%= member.user.try(:id) %>'>
			<%= member.user.try(:name) %>
		</a>
		<br>
		<img src="<%= member.user.try(:avatar_url) %>" class="img-circle" alt="User Image" />
	</b>
</p>



</center>

<hr>
<h3>Groups that <%= member.name %> belongs to:</h3>

<%= render :partial => 'groups/group_list_sidebar', :locals => { :groups => member.member_groups.map { |e| e.group }} %>