<center>
	

<h2>
	<%= member.name %>
</h2>	

<p>
	<b>Contact:  </b> <%= "#{member.email}/#{member.phone} " %>
</p>

<p>
	<b>
		Registered by: 
		<br>
		<a href="#" class='user-modal-pop btn' data-toggle="modal" data-target="#userModal" data-id='<%= member.user.try(:id) %>'>
			<%= member.user.name %>
		</a>
		<br>
		<img src="<%= member.user.avatar_url %>" class="img-circle" alt="User Image" />
	</b>
</p>



</center>

<hr>
<h3>Groups that <%= member.name %> belongs to:</h3>

<%= render :partial => 'groups/group_list_sidebar', :locals => { :groups => member.member_groups.map { |e| e.group }} %>